.cabecalho_b{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    background-color: #7685d7;
}
.cabecalho_b nav{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items:center;
    width: 100vw;
    height: 15vh;
    background-color: #d9d9d9;
}
.cabecalho_b a{
    text-decoration: none;  
    color: black;
    display: pointer;
    padding: 2.4vw;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    
}
.cabecalho_b a:hover{
    background-color: #b9b8b8;
    border-radius: 10%;
    color: #F3CB05;
}
.cabecalho_b img{
    padding:1vh 0 ;
}